body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #cc2b5e, #753a88);
  font-family: 'Caveat', cursive;
  position: relative;
}

.frame-png {
  position: absolute;
  z-index: -1;
  max-width: 100vw;
  transform: scaleX(-1);
  top: 1rem;
}

.container {
  display: flex;
  flex: 1;
  margin: 2rem 2rem 1rem;
  height: calc(100vh - 5Crem);
  flex-direction: column;
  align-items: center;
}

.main_header {
  text-align: center;
  font-size: 2.3rem;
}

.paragraph {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}

.span {
  font-size: 8rem;
}

footer {
  margin-top: auto;
}
