body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #cc2b5e, #753a88);
  font-family: 'Caveat', cursive;
  position: relative;
}

.image {
  position: absolute;
  z-index: -1;
  width: 100vw;
  transform: scaleX(-1);
  bottom: 0;
}

.container {
  display: flex;
  margin: 0 32px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.main_header {
  text-align: center;
  font-size: 2.3rem;
  margin-top: 64px;
}

.kind_word {
  font-size: 3rem;
  margin-top: 128px;
  text-align: center;
  font-weight: 700;
}

.span {
  font-size: 8rem;
}

footer {
  margin-top: auto;
  padding-bottom: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media (min-width: 700px) and (orientation: landscape){
  .kind_word {
    flex: 0;
    margin: 0;
  }

  .span {
    margin: 0;
    font-size: 5rem;
  }

  .image {
    content: url(img/pngwin-landscape.com.png);
    transform: scaleX(1);
  }
}
